.header {
    display: flex;
    flex-direction: row;
}

.align-self-end button {
    width: 100%;
}

.nav {
    justify-content: space-between;
}

.nav__button {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gosuslugi {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.gosuslugi__block {
    background: #38BAFE;
    height: 453px;
    flex-shrink: 0;
}

.spacer {
    background: #6B6BAE;
    width: 100%;
    height: 1px;
    flex-shrink: 0;
}

.telephones__img {
    display: flex;
    flex-direction: row;
    height: 241px;
    gap: 33.38px;
}

.telephones__img-item {
    display: flex;
    flex-direction: column;
    background: #5B5B96;
}

.telephones__img-item__spacer {
    width: 98%;
    height: 1.021px;
    flex-shrink: 0;
    background: #FFF;
}

.telephones__href {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.map {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #5B5B96;
}

.footer__nav-hrefs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 107px;
}

.footer__info {
    display: flex;
    justify-content: center;
    background: #3E3E61;
}