@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat-Bold.ttf");
}

body {
    font-family: Montserrat;
}

/*Хедер*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #5B5B96;
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
    flex-wrap: wrap;
}

.header h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.align-self-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    min-height: 82px;
}

.align-self-end button {
    width: 100%;
    min-height: 34px;
    flex-shrink: 0;
    background: #6B6BAE;
    border: 0px;
}

.navbar {
    padding: 0px;
    border: 0px;
}

.container-fluid {
    padding: 0px;
    border: 0px;
}

.navbar-toggler {
    padding: 0px;
    border: 0px;
}

/*Навигация*/
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #3E3E61;
    min-height: 41px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1110px;
}

.nav__burger {
    display: flex;
    align-items: center;
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    background: #3E3E61;
    border: 0px;
}

.nav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.nav__button a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    text-decoration-line: none;
}

.me-2 {
    width: 114px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 4px;
    border-left: 1px solid #000;
    background: #F4F4F4;
    margin: 0px !important;

    color: rgba(0, 0, 0, 0.39);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 2px;
}

.form-control {
    padding: 5px 6px;
}

.btn {
    border: 0px;
    padding: 0px;
}

.btn:hover {
    --bs-btn-hover-color: #6B6BAE;
    --bs-btn-hover-bg: #6B6BAE;
    --bs-btn-hover-border-color: #6B6BAE;
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

/*Контейнер*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 20px;
}

.container__h {
    color: #000;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 1;
    line-height: normal;
    margin: 0px;
    max-width: 919px;
}

.gl__img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 919px;
    margin-bottom: 18px;
}

.gl__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Госуслуги*/
.gosuslugi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.gosuslugi__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #38BAFE;
    width: 559.227px;
    height: 453px;
    flex-shrink: 0;
    gap: 57.11px;
}

.gosuslugi__block p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 322px;
    height: 233px;
    margin: 0px;
}

.gosuslugi__block button {
    width: 321.902px;
    height: 78.311px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Сведения*/
.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 919px;
    gap: 14px;
}

.info p {
    margin: 0px;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__gl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.info__gl h1 {
    text-align: left;
    color: #00006B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.info a {
    color: #00006B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.info ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #00006B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
}

.info ul li {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 0px;
}

.spacer {
    background: #6B6BAE;
    height: 1px;
    flex-shrink: 0;
    width: 90%;
}

/*Картинки телефонов*/
.telephones__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 241px;
    gap: 33.38px;
    flex-wrap: wrap;
}

.telephones__img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #5B5B96;
    padding-top: 19.4px;
    padding-bottom: 27.57px;
    padding-left: 8.3px;
    padding-right: 8.3px;
    width: 283.745px;
    height: 241px;
    flex-shrink: 0;
}

.telephones__img-item__h {
    display: flex;
    align-items: center;
    width: 257.04px;
    min-height: 60.25px;
}

#p_1,
#p_2,
#p_3 {
    margin: 0px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;

}

.telephones__img-item__spacer {
    width: 98%;
    height: 1.021px;
    flex-shrink: 0;
    background: #FFF;
}

.telephones__img-item p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Специальный телефон*/
#spec__tel {
    color: #00006B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.telephones__href {
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.telephones__href a {
    color: #00006B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

/*Карта*/
.map {
    max-width: 919px;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Футер*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #5B5B96;
    gap: 40px;
    width: 100%;
}

.footer__nav-hrefs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
    max-width: 919px;
}

.footer__nav-hrefs a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
}

.footer__info {
    display: flex;
    justify-content: center;
    background: #3E3E61;
    width: 100%;
}

#f_address {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    max-width: 919px;
}

#f_information {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-bottom: 34px;
    max-width: 1110px;
}

#f_ps {
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 7px;
}

/*Телефоны*/

#a_2,
#a_3,
#a_4 {
    text-decoration: none;
    color: #FFF;
}

#a_5 {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
}

#a_6,
#a_7,
#a_8,
#a_9 {
    text-decoration: none;
    color: #000;
}


.header__mobile {
    display: none;
}

.container__h-mobile {
    display: none;
}

.info__gl-mobile {
    display: none;
}

#seria_7,
#seria_8,
#seria_9,
#seria_10,
#seria_11,
#seria_12 {
    display: none;
}



/*Новости*/
.news__headers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#uch_year {
    color: #00006B;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.news__header h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

/*Элементы новостей*/
.news__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.news__item {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.news__head {
    width: 100%;
    min-height: 38px;
    background: #6B6BAE;
}

.news__head p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.news__info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.news__img {
    width: 350px;
}

.news__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.news__text p {
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.news__text ul {
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.news__text a {
    color: #6B6BAE;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    text-decoration-line: none;
}